<!DOCTYPE html>
<html>
<head>
    <title>Python Web Application</title>
</head>
<body bgcolor="DodgerBlue" >
    <div>
         <p>
            <a href="/">返回搜索页面 </a>
         </p>
    </div>

<ul>
    {% for name in filelist %}
    <li><a href="..\download\{{ name['_source']['title'] }}">{{ name['_source']['title'] }} </a></li>
<div class="panel-body" style="height: 100px; overflow:scroll">
            <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                <span>
    <li>{{ name['_source']['text'] }}</li>
</span>
            </div>
        </div>
    {% endfor %} </ul>

<script>
   window.onload = function(){
      //alert(document.body.innerHTML);
      var strTemp = document.body.innerHTML.replace(/{{ keyword }}/g ,"<font color=red>{{ keyword }}</font>");
      document.body.innerHTML = strTemp;
   }
</script>

</body>
</html>
