 <body>
        <div style="text-align:center">
        <font face="宋体" size="+5">共享型知识库</font><br/>
        <font></font><br/>
        <form action ='/search0' method='get'>
            <input type="txt"  rows="2" cols="60" placeholder="请输入关键词...."
            name='keyword' style="height:40px;width:500px;">
            <button type="submit" class="search-submit"
            style="height:38px;width:60px;">查询</button>
        </form>

        <a href="./index">所有文档列表</a>
        <a href="./upload">上传新增docx</a>
        </div>
        
</body>

<div style="margin: auto; width=800px;height=300px; text-align:center; float:center" >
<iframe src="/index" name="iframe_a" frameborder="0" scrolling="auto" width="800" height="1500" ></iframe>
</div>
